<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
    <div id="main">
        <div class="message">
          <h1>404</h1>
          <h3>The page you want to see does not exist</h3>
        </div>
        <div class="footer-error">
          <a href="#" title="home">Regresar<span></span></a>
        </div>
      </div>
</body>
</html>